   
        <div id="requisition_allocation">
         <h4>Allocated List Item of this requisition</h4>
         <table id="example3" class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th width="10">#</th>
                  <th width="120">Item Name</th>
                  <th width="110">Category Name</th>
                  <th width="110">Asset ID</th>
				  <th width="110">Date</th>
                 <th width="50">Status</th>
                </tr>
            </thead>
            	<tbody>
				<?php 
				//echo $this->load->view('admin_lte/asset/requisition_allocated_list',$allocated_list);
				
				 $i=1;
				 if($allocated_list<>"")
				 {
					foreach($allocated_list as $temp_list)
					{
					 $asset_id = $temp_list->asset_id;
					 //$asset_name = $temp_list->asset_name;
					 $allocate_date = $temp_list->create_date;
					 $asset_category =  $temp_list->category_id;;
					 $asset_label_id = $temp_list->asset_label_id;
					 ?>
					 <tr>
					  <td width="10"><?php echo $i;?></td>
					  <td width="120"><?php echo $asset_id;?></td>
					  <td width="110"><?php echo get_category_name($asset_category);?></td>
					  <td width="100"><?php echo $asset_label_id;?></td>
					  <td width="110"><?php echo $allocate_date;?></td> 
					  <td width="50">Delivered</td>
					</tr>
                     <?php
					 $i++;
					}
				 }
				 
				?>
                </tbody>
                </table>  
        </div> 